<div class="parmok">
  <div style="text-decoration: underline; color: #80ff80;">
      <h3>درباره پرموک&nbsp;:</h3>
  </div>
  <div class="aboutText">
      با توجه به نیاز روز افزون به اطلاعات در هر زمینه¬ای، یکی از بازارهایی که چه در گذشته و چه اکنون در سراسر دنیا به حجم عظیمی از اطلاعات برای اتخاذ تصمیم فعالان در آن نیاز داشته است، بازار سرمایه است. این گستردگی داده¬ها به قدری است که نمی¬توان در یک منبع خاص به همگی آنها دسترسی پیدا کرد، منابع مختلفی این اطلاعات را در اختیار کاربران خود قرار داده¬اند. پرموک نیز سعی کرده با ارائه قسمتی هر چند کوچک از داده¬های جهانی و داخلی نقش کوچکی در ارائه اطلاعات به مخاطب داشته باشد.
  </div>
</div>
<div class="author">
  <div style="text-decoration: underline; color: #80ff80;">
      <h3>درباره فراهم آورنده&nbsp;:</h3>
  </div>
  <div class="aboutText">
      من(محمدرضا فولادی) پس از چند سال فعالیت به عنوان سهامدار خرد در بازار بورس اوراق بهادار تهران، با توجه به نیاز شخصی به اطلاعات بازار برای جهت دهی به سرمایه گذاری¬های خودم همیشه مشتاق به راه اندازی سیستمی بودم که بتواند برخی از نیازهای اطلاعاتیم را رفع کند. لذا این داده¬ها را در غالب سیستم مبتنی بر وب، فراهم کرده و آن را بر روی بستر وب به اشتراک گذاشتم. امیدوارم این سیستم اطلاعاتی بتواند کمکی هر چند کوچک در اختیار کاربران قرار دهد.
      <br>
      در انتها لازم به ذکر است پرموک نیز مانند هر سیستم اطلاعاتی بازار از ابتدا کامل و صحیح نبوده و ممکن است در ارائه اطلاعات کمی و کاستی داشته باشد. ولی به مرور زمان مانند هر سیستم دیگری در جهت کامل شدن قدم برداشته و ارتقا پیدا کند.
  </div>
</div>
