.searchInpt{
    width:100%;
    margin-top: 2%;
}

.canvas{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 1950px){
    .canvas{
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px){
    .canvas{
        width: 120%;
        height: 100%;
        margin: 0 auto;
    }
}