.searchInpt{
    width:100%;
    margin-top: 2%;
}
.companyInfoPanel{
    background-color: #fff;
    border-radius: 5px;
    margin: 2% auto;
    color: rgb(15, 15, 15);
    width: 100%;
    height: 70%;
}
.companyInfoPanel div{
    padding: 7px;
}